@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>权益管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-3">
                                <#NameCon id="equityCode" name="权益编码" maxlength="50"/>
                            </div>
                            <div class="col-sm-3">
                                <#NameCon id="equityName" name="权益名称" maxlength="50"/>
                            </div>
                            <div class="col-sm-3">
                                <#SelectCon id="status" name="权益状态">
			                        <option value="" selected="selected">请选择</option>
			                        <option value="1" >启用</option>
			                        <option value="2">停用</option>
			                    </#SelectCon>
                            </div>
                            <div class="col-sm-3">
                                <#SelectCon id="type" name="线上线下类型">
			                        <option value="" selected="selected">请选择</option>
			                        <option value="1" >线上</option>
			                        <option value="2">线下</option>
			                    </#SelectCon>
			                 </div>
                            <div class="col-sm-3">
                                <#button name="搜索" icon="fa-search" clickFun="Equity.search()"/>
                            </div>
                        </div>
                        
                        
                        <div class="hidden-xs" id="EquityTableToolbar" role="group">
                            @if(shiro.hasPermission("/equity/add")){
                                <#button name="添加" icon="fa-plus" clickFun="Equity.openAddEquity()"/>
                            @}
                            @if(shiro.hasPermission("/equity/update")){
                                <#button name="修改" icon="fa-edit" clickFun="Equity.openEquityDetail()" space="true"/>
                            @}
                            @if(shiro.hasPermission("/equity/delete")){
                                <#button name="删除" icon="fa-remove" clickFun="Equity.delete()" space="true"/>
                            @}
                            @if(shiro.hasPermission("/equity/online")){
                                <#button name="启用" icon="fa-long-arrow-up" clickFun="Equity.online()" space="true"/>
                            @}
                            @if(shiro.hasPermission("/equity/offline")){
                                <#button name="停用" icon="fa-long-arrow-down" clickFun="Equity.offline()" space="true"/>
                            @}
                        </div>
                        <#table id="EquityTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/vas/equity/equity.js"></script>
@}
