<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yestae.user.manage.modular.vas.persistence.dao.VasEquityMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.yestae.user.manage.modular.vas.persistence.model.VasEquity">
		<id column="id" property="id" />
		<result column="vas_id" property="vasId" />
		<result column="vas_code" property="vasCode" />
		<result column="equity_id" property="equityId" />
		<result column="equity_code" property="equityCode" />
		<result column="sort" property="sort" />
		<result column="create_time" property="createTime" />
		<result column="create_by" property="createBy" />
		<result column="update_time" property="updateTime" />
		<result column="update_by" property="updateBy" />
	</resultMap>
	<resultMap id="ResultMap" type="map">
		<id column="id" property="id" />
		<result column="equity_id" property="equityId" />
		<result column="equity_code" property="equityCode" />
		<result column="equity_name" property="equityName" />
		<result column="intro" property="intro" />
		<result column="status" property="status" />
		<result column="type" property="type" />
		<result column="sort" property="sort" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, vas_id AS vasId, vas_code AS vasCode, equity_id AS equityId, equity_code AS equityCode, sort, create_time AS createTime, create_by AS createBy, update_time AS updateTime, update_by AS updateBy
    </sql>
    
    <select id="selectVasEquityList" parameterType="map" resultMap="ResultMap">
    select
    e.id equity_id, e.equity_code, e.equity_name, e.intro, e.status, e.type,
    ve.sort
    from uc_m_vas_vas_equity ve
    join uc_m_vas_equity e on e.id = ve.equity_id
    <where>
	    <if test="map.vasId != null and map.vasId !=  ''">
	    	and ve.vas_id = #{map.vasId}
	    </if>
	    <if test="map.delFlag != null and map.delFlag !=  ''">
	    	and e.del_flag = #{map.delFlag}
	    </if>
	    <if test="map.status != null and map.status !=  ''">
	    	and e.status = #{map.status}
	    </if>
    </where>
    order by ve.sort asc
    </select>

</mapper>
