@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <input type="hidden" id="id" value="${dict.id}">
			<input type="hidden" id="pcodeValue" value="${dict.pcode}">
            <div class="row">
                <div class="col-sm-12">
					<#input id="name" name="名称" underline="false" value="${dict.name}" maxlength="50"/>
					<#input id="code" name="编码" underline="false" value="${dict.code}" disabled="disabled" maxlength="50"/>
					<#select id="pcode" name="上级名称" disabled="disabled">
					</#select>
					<#input id="" name="上级编码" underline="false" value="${dict.pcode}" disabled="disabled" maxlength="50"/>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-12 text-center">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="DictInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="DictInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/system/dict/dict_info.js"></script>
@}
