@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>二维码场景管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-3">
                                <#NameCon id="name" name="场景名称" maxlength="50"/>
                            </div>
                            <div class="col-sm-3">
			                    <#SelectCon id="applyScope" name="应用范围 ">
			                    </#SelectCon>
                            </div>
                            <div class="col-sm-3">
			                    <#SelectCon id="jumpType" name="跳转页面类型">
			                    </#SelectCon>
                            </div>
                            <div class="col-sm-3">
			                    <#SelectCon id="type" name="跳转类型">
			                    </#SelectCon>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
			                    <#SelectCon id="status" name="状态">
			                        <option value="" selected="selected">请选择</option>
			                        <option value="1" >正常</option>
			                        <option value="0">停用</option>
			                    </#SelectCon>
                            </div>
                            <div class="col-sm-3">
                                <#button name="搜索" icon="fa-search" clickFun="YestaeQrcodeScene.search()"/>
                            </div>
                        </div>
                        <div class="hidden-xs" id="YestaeQrcodeSceneTableToolbar" role="group">
                            @if(shiro.hasPermission("/yestaeQrcodeScene/add")){
                                <#button name="添加" icon="fa-plus" clickFun="YestaeQrcodeScene.openAddYestaeQrcodeScene()"/>
                            @}
                            @if(shiro.hasPermission("/yestaeQrcodeScene/update")){
                                <#button name="修改" icon="fa-edit" clickFun="YestaeQrcodeScene.openYestaeQrcodeSceneDetail()" space="true"/>
                            @}
                            @if(shiro.hasPermission("/yestaeQrcodeScene/delete")){
                                <#button name="删除" icon="fa-remove" clickFun="YestaeQrcodeScene.delete()" space="true"/>
                            @}
                            @if(shiro.hasPermission("/yestaeQrcodeScene/online")){
                                <#button name="启用" icon="fa-long-arrow-up" clickFun="YestaeQrcodeScene.online()" space="true"/>
                            @}
                            @if(shiro.hasPermission("/yestaeQrcodeScene/offline")){
                                <#button name="停用" icon="fa-long-arrow-down" clickFun="YestaeQrcodeScene.offline()" space="true"/>
                            @}
                        </div>
                        <#table id="YestaeQrcodeSceneTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/privilege/yestaeQrcodeScene/yestaeQrcodeScene.js"></script>
@}
