@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <input type="hidden" id="id" value="${yestaeQrcodeScene.id}">

            <div class="row">
                 <div class="col-sm-12 b-r">
					<#input id="name" name="场景名称 * " underline="false" value="${yestaeQrcodeScene.name}" maxlength="50"/>
					<#select id="applyScope" name="应用范围 * " underline="false" hidden="applyScopeValue"
						hiddenValue="${yestaeQrcodeScene.applyScope}" disabled="disabled">
                    </#select>
					<#select id="jumpType" name="跳转页面类型 * " underline="false" hidden="jumpTypeValue"
						hiddenValue="${yestaeQrcodeScene.jumpType}">
                    </#select>
                    <div id="typeDiv" style="display: none">
					<#select id="type" name="跳转页面 * " underline="false" hidden="typeValue"
						hiddenValue="${yestaeQrcodeScene.type}">
                    </#select>
                    </div>
                    <div id="urlDiv" style="display: none">
                    <#input id="jumpPageUrl" name="H5外链页URL * " value="${yestaeQrcodeScene.jumpPageUrl}"
                    	underline="false" maxlength="500"/>
                    </div>
					<div class="form-group">
					    <label class="col-sm-3 control-label">场景描述</label>
					    <div class="col-sm-9">
					        <textarea class="form-control" id="description" rows="3" maxlength="100">${yestaeQrcodeScene.description}</textarea>
					    </div>
					</div>
                </div>
            </div>
			@//if(yestaeQrcodeScene.status == 0){
            <div class="row btn-group-m-t">
                <div class="col-sm-12 text-center">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="YestaeQrcodeSceneInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="YestaeQrcodeSceneInfoDlg.close()"/>
                </div>
            </div> 
			@//}
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/privilege/yestaeQrcodeScene/yestaeQrcodeScene_info.js"></script>
@}
